<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Mobi-Tech | {% block title %}{% endblock %}
    </title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- css link -->
     <link rel="stylesheet" href="{% static 'css/style.css' %}">

     {% include 'base/includes/header.html' %}

    
</head>
<body>
     <main>
        {% block content %}
        {% endblock %}
     </main>

<script>
document.addEventListener("DOMContentLoaded", function() {

    const input = document.getElementById("searchInput");
    const resultsBox = document.getElementById("searchResults");

    if (!input || !resultsBox) return;

    input.addEventListener("keyup", function() {

        let query = this.value;

        if (query.length < 2) {
            resultsBox.style.display = "none";
            return;
        }

        fetch(`/products/live-search/?q=${query}`)
        .then(res => res.json())
        .then(data => {

            let html = "";

            if (data.length === 0) {
                html = "<div class='p-2'>No results found</div>";
            } else {

                data.forEach(item => {
                    html += `
                    <a href="/products/${item.id}/" class="search-item">
                        <img src="${item.image}">
                        <div>
                            <div>${item.name}</div>
                            <small>₹ ${item.price}</small>
                        </div>
                    </a>
                    `;
                });

            }

            resultsBox.innerHTML = html;
            resultsBox.style.display = "block";
        });

    });

});

/* CLOSE WHEN CLICK OUTSIDE */
document.addEventListener("click", function(e) {
    const resultsBox = document.getElementById("searchResults");

    if (!e.target.closest(".search-container")) {
        if (resultsBox) resultsBox.style.display = "none";
    }
});
</script>

     <footer>
        {% include 'base/includes/footer.html' %}
     </footer>
     <script src="{% static 'js/script.js' %}"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
     
</body>
</html>