{% extends 'base/base.html' %}
{% block content %}

<div class="auth-container">


<div class="auth-card">

    <h2>Set New Password</h2>
    <p class="text-muted">Create a strong password</p>

    <form method="POST">
        {% csrf_token %}

        <input type="password" name="password" placeholder="New Password" required>

        <input type="password" name="confirm" placeholder="Confirm Password" required>

        <button type="submit">Update Password</button>

    </form>

</div>


</div>

<style>
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.auth-card {
    width: 400px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.auth-card button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg,#212529,#000);
    color: white;
    font-weight: 600;
}
</style>

{% endblock %}
